.abodiv {
    background-color: #000120 ;
    color: #FCEE22;
}

.caja-per {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8EDED;
    box-shadow: 0 3px 13px 1px rgb(0, 0, 0 / 9%);
}

.imagen-per {
    height: 100%;
    width: auto;
}

.texto-per {
    text-align: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.perfil1-nom {
    font-size: 1.3rem;
}

.perfil1-car {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.perfil1-des {
    font-size: 1.1rem;  
    text-align: justify;
}